/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

/* * {
  outline: 1px dotted black;
} */

/* Doodle Stage */
#stage {
  height: 502px;
  width: 650px;
  background: #ccc;
  overflow: hidden;
  position: relative;
}
